body  {
    background: url(HoneyComb.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    
}
